* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
/*    background-color: rgb(204, 236, 238);*/
    display: flex;
    align-items: center;
    justify-content: center;
}
div.game{
    width: 1140px;
    height: 565px;
    border: 1px solid #000;
    position: relative;
    display: grid;
    grid:
    '. . . .',
    '. . . .';
    margin: 10px auto;
    box-shadow: 5px 5px 5px rgba(50, 50, 50, .6);
    border-radius: 10px;
    background-color: rgb(104, 136, 200);
}

.card{
    width: 160px;
    height: 240px;
    position: absolute;
    border-radius: 10px;;
    border: solid;
    perspective: 600px;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 0 30px #ccc;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transition: all 1s;
    backface-visibility: hidden;
}

.back{
    background: url("assets/verso.jpeg");
}

.back.flipped{
    transform: rotateY(180deg);
}

.front{
    transform: rotateY(-180deg);
    background-repeat: no-repeat;
}
.front.flipped{
    transform: rotateY(0deg);
}

#gameOverModal{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(104, 136, 200, .8);
    color:rgba(255, 255, 255, .8);
    font-size: 50px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -2;
}